/* This is a project done by Nemwel and Zelalem */

/* We designed it with a desktop first approach to design */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
  background-color: #4e4e4e;
}

.desktopoff {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background-color: #110a0a;
  z-index: 1;
  /* margin-bottom: 260px; */
}

.header .nav {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  color: rgb(245, 245, 245);
}

.nav a h2 {
  font-family: 'Mochiy Pop One', sans-serif;
  animation: bouge 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 1;
  transform: translateX(0);
}

@keyframes bouge {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.nav ul {
  display: flex;
  font-size: 19px;
}

li {
  list-style-type: none;
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
}

.nav ul li a span {
  background-color: #f00;
  margin-left: 2px;
  padding: 2px;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
}

/* Styling for the individual cards section */
.main {
  position: relative;
  top: 80px;
  margin: 4% 10%;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.image-container .movie {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  border-radius: 9px;
  padding: 12px;
  transition: transform 0.5s;
  background-color: rgb(93, 25, 25);
  color: white;
}

.image-container .movie:hover {
  transform: translateY(-7px);
}

.image-container .movie img {
  width: 100%;
  height: 45vh;
  margin-bottom: 15px;
}

.movieDesc {
  position: relative;
}

.movieDescTop {
  display: flex;
  justify-content: space-between;
}

.movieDescTop a {
  cursor: pointer;
  transition: 0.5s;
}

.movieDescTop a:hover {
  color: #000;
  border: 2px aolid #fff;
}

.movieDescTop a:active {
  color: #000;
  border: 2px aolid #fff;
}

.movieDesc > p {
  position: absolute;
  right: 0;
  margin-bottom: 15px;
}

.movieBtn {
  position: relative;
  top: 40px;
  bottom: 50px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.movieBtn button {
  padding: 7px;
  width: 100%;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: 1.5s;
}
.movieBtn button:hover {
  background-color: black;
  color: white;
}

/* Comment popup section */

.comment-main-container {
  position: fixed;
  top: 0;
  background-color: rgba(230, 230, 230, 0.9);
  height: 100vh;
  overflow-y: scroll;
  padding: 50px 0;
  z-index: 2;
}

.comment-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 800px;
  border: 2px solid black;
  margin: 0 auto; */
}

.comment-list-container {
  width: 500px;
}

.x-icon {
  position: fixed;
  width: 35px;
  top: 20px;
  right: 70px;
}

.summary {
  width: 50%;
  text-align: center;
  padding: 5px;
  line-height: 1.45rem;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px auto;
}

form h3 {
  align-self: center;
  padding: 1rem 0;
  font-size: 1.3rem;
}

input[type='text'] {
  width: 200px;
  padding: 3px;
  border: 2px solid black;
}

textarea {
  width: 250px;
  height: 100px;
  border: 2px solid black;
  padding: 5px;
}

input[type='submit'] {
  width: fit-content;
  font-weight: bold;
  padding: 5px;
  letter-spacing: 2px;
  font-size: 1.4rem;
  border: 2px solid black;
  box-shadow: 5px 5px 2px black;
}

input::placeholder {
  font-weight: bold;
}

.orginal-image {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.blur-50vh {
  filter: blur(5px);
  height: 50vh;
  overflow-y: hidden;
}

.blur {
  filter: blur(15px);
}

.dn {
  display: none;
}

/* Footer section  */
footer {
  margin-top: 140px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: underline;
  transition: 0.5s;
}

footer a:hover {
  color: rgb(93, 25, 25);
  font-size: 20px;
}

/* Mobile-responsive */

@media screen and (max-width: 692px) {
  /* Movies section */

  .mobileoff {
    display: none;
  }
  .nav ul {
    display: block;
  }
  .image-container {
    display: flex;
    flex-direction: column;
  }

  .main {
    position: relative;
    top: 140px;
    bottom: 50px;
    margin-bottom: 170px;
  }
  .image-container .movie img {
    max-width: 100%;
  }

  .movieDescTop a {
    cursor: pointer;
    transition: 0.5s;
  }

  .movieDesc > p {
    position: absolute;
    right: 0;
    margin-bottom: 15px;
  }

  .movieBtn button {
    padding: 7px;
    width: 100%;
    font-size: 16px;
    transition: 1.5s;
  }


  /* Comment popup */
  .comment-main-container {
    display: none;
  }

  .x-icon {
    right: 35px;
  }

  .comment-list-container {
    width: 300px;
    margin: 0 auto;
  }

  .comment-form-container {
    width: 300px;
    margin: 0 auto;
  }

  form h3 {
    align-self: normal;
    text-align: justify;
  }
}
