/* This is a project done by Nemwel and Zelalem */

/* We designed it with a desktop first approach to design */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  position: relative;
}

.header {
  width: 100%;
  padding: 20px;
  border: 1px solid #000;
}

.header .nav {
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
}

.nav a h2 {
  font-family: 'Mochiy Pop One', sans-serif;
  animation: bouge 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-iteration-count: 1;
  transform: translateX(0);
}

@keyframes bouge {
  10%,
  90% {
    transform: translateX(-1px);
  }

  20%,
  80% {
    transform: translateX(2px);
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px);
  }

  40%,
  60% {
    transform: translateX(4px);
  }
}

.nav ul {
  display: flex;
  font-size: 19px;
}

.nav ul li {
  list-style-type: none;
  margin-right: 20px;
}

.nav ul li a {
  text-decoration: none;
}

.nav ul li a span {
  background-color: #f00;
  margin-left: 2px;
  padding: 2px;
  font-size: 15px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  bottom: 15px;
}

/* Styling for the individual cards section */
.main {
  margin: 4% 10%;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.image-container .movie {
  border: 1px solid #000;
  padding: 12px;
  transition: transform 0.5s;
}

.image-container .movie:hover {
  transform: translateY(-7px);
}

.image-container .movie img {
  height: 45vh;
  width: 100%;
  margin-bottom: 15px;
}

.movieDesc {
  position: relative;
}

.movieDescTop {
  display: flex;
  justify-content: space-between;
}

.movieDesc > p {
  position: absolute;
  right: 0;
  margin-bottom: 15px;
}

.movieBtn {
  position: relative;
  top: 40px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieBtn button {
  padding: 7px;
  margin: 20px 15px;
}

/* Footer section  */
footer {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
  padding: 1rem;
}
